name: UE4 Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:

      - name: Enable Windows long paths
        shell: powershell
        run: |
          New-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem" `
          -Name "LongPathsEnabled" -Value 1 -PropertyType DWORD -Force

      - name: Enable git long paths
        run: git config --system core.longpaths true

      - name: Checkout UE4
        uses: actions/checkout@v4
        with:
          repository: AlexMercer-MA/UnrealEngine-4.27
          path: a
          lfs: true

      - name: Map UE4 to drive X
        shell: cmd
        run: |
          subst X: %GITHUB_WORKSPACE%\a

      - name: Print Disk Space Before Setup
        shell: powershell
        run: Get-PSDrive -PSProvider FileSystem


      - name: Sync UE4 Dependencies (No Prereqs)
        shell: cmd
        run: |
          cd /d X:\
          Engine\Binaries\DotNET\GitDependencies.exe --exclude=Mac --exclude=Linux --exclude=Android --exclude=IOS --exclude=TVOS --exclude=WinRT --exclude=HTML5 --threads=8


      - name: Print Disk Space After Setup
        shell: powershell
        run: Get-PSDrive -PSProvider FileSystem

      - name: Generate Project Files
        shell: cmd
        run: |
          cd /d X:\
          GenerateProjectFiles.bat

      - name: Build UE4Game
        shell: cmd
        run: |
          cd /d X:\
          Engine\Build\BatchFiles\Build.bat UE4Game Win64 Development -NoDebugInfo -NoHotReload
